# An Analysis of Popular Music: Alec Plante
***
## Overveiw
This project intends to find trends and analyze popular music throughout history. Particularly this project intends to explore the areas of:
- Streaming services
- Tik Tok
- What makes a song popular
- Prediction of popularity of a song


If you're a record company, you want popular songs, because that makes you money

In [2]:
# imports
import pandas as pd
import datetime
from functions import *

In [3]:
# load in the billboard data
billboard = pd.read_csv('Data/billboard100.csv')
topsongs = pd.read_csv('Data/spotifyTopSongs.tsv')

In [10]:
topsongs.head()

,Pos,Artist,Title,Wks,T10,Pk,(x?),PkStreams,Total
0,1,The Weeknd,Blinding Lights,172,64.0,1,(x13),52375259,3406980588
1,2,Ed Sheeran,Shape of You,308,34.0,1,(x14),64217796,3302350300
2,3,Lewis Capaldi,Someone You Loved,218,15.0,4,NaN,24962682,2623186016
3,4,Tones And I,Dance Monkey,151,41.0,1,(x17),52055226,2538070349
4,5,Post Malone,Sunflower - Spider-Man: Into the Spider-Verse,225,31.0,1,(x2),34579416,2498983472

In [9]:
topsongs.drop("Unnamed: 0", axis = 1, inplace=True)

In [3]:
#Check info
billboard.info()
#There is an extra column and the dates are not of type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336687 entries, 0 to 336686
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    336687 non-null  int64
 1   Date          336687 non-null  object
 2   Rank          336687 non-null  int64
 3   Title         336687 non-null  object
 4   Artist        336687 non-null  object
 5   LastWeek      336687 non-null  object
 6   Peak          336687 non-null  int64
 7   WeeksOnChart  336687 non-null  int64
dtypes: int64(4), object(4)
memory usage: 20.5+ MB

In [4]:
#Remove column 0
billboard.drop("Unnamed: 0", axis = 1, inplace=True)

In [5]:
#Change type of Date Column to datetime
billboard["Date"]= pd.to_datetime(billboard["Date"])

In [6]:
# See changes
billboard.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336687 entries, 0 to 336686
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Date          336687 non-null  datetime64[ns]
 1   Rank          336687 non-null  int64
 2   Title         336687 non-null  object
 3   Artist        336687 non-null  object
 4   LastWeek      336687 non-null  object
 5   Peak          336687 non-null  int64
 6   WeeksOnChart  336687 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 18.0+ MB

In [7]:
#Update with new data from the billboard chart
updatedata(billboard)

INIT: getdata from 2023-02-04 00:00:00
INIT: request page 2023-02-11

C:\Users\aplante\OneDrive - Deloitte (O365D)\Documents\AI-Academy\Project\functions.py:85: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 85 of the file C:\Users\aplante\OneDrive - Deloitte (O365D)\Documents\AI-Academy\Project\functions.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  data = BeautifulSoup(r.content, parser="lxml")

INIT: request page 2023-02-18
INIT: request page 2023-02-25
END: getdata from 2023-02-04 00:00:00

In [8]:
# ensure that no date was counted twice
max(billboard['Date'].value_counts())

100

In [ ]:
# if you want to save it back to the CSV
#billboard.to_csv('Data/billboard100.csv')